.contact {
    min-height: 600px;
    background-image: url("../image/pages.jpg"); 
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }
  
  .contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .contact h2 {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 60px;
    text-align: center;
    color: cadetblue;
  }
  
  .contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
  }
  
  .contact form .left {
    float: left;
    width: 49%;
  }
  
  .contact form .right {
    float: right;
    width: 49%;
  }
  
  .contact form input:not([type="submit"]),
  .contact form textarea {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
  }
  
  .contact form input:not([type="submit"]):focus,
  .contact form textarea:focus {
    outline: 1px solid rgba(204, 60, 60, 0.945);
  }
  
  .contact form input {
    height: 40px;
  }
  
  .contact form textarea {
    height: 150px;
  }
  
  .contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: darkgreen;
    color: #fff;
    cursor: pointer;
  }
  
  .contact form textarea:focus::-webkit-input-placeholder,
  .contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.3s;
  }
  
  .contact form textarea:focus:-ms-input-placeholder,
  .contact form input:not([type="submit"]):focus:-ms-input-placeholder {
    opacity: 0;
    transition: 0.3s;
  }
  
  .contact form textarea:focus::placeholder,
  .contact form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: 0.3s;
  }